<div class="flex-container">
  <div>
    <app-card1><b>Hypotéka</b> je dlouhodobý úvěr, poskytnutý bankou věřiteli, zajištěný zástavním právem k nemovitosti,
      obvykle té, na níž si věřitel bere úvěr.
    </app-card1>
  </div>
  <div>
    <app-card1><b>Nemovitost</b> je dům, byt v osobním vlastnictví, chata či chalupa, případně pozemek. Hodnota
      nemovitosti, kterou se ručí, musí dosahovat výše úvěru.
    </app-card1>
  </div>
  <div>
    <app-card1>Výše úvěru může dosáhnout maximálně 90 % ceny nemovitosti. Poměr mezi úvěrem a hodnotou zastavované
      nemovitosti má zkratku <b>LTV</b> (Loan to Value) a udává se v procentech.
    </app-card1>
  </div>
  <div>
    <app-card1>Hypotéka se splácí způsobem dojednaným s klientem a zachyceným ve <b>splátkovém kalendáři</b>.
    </app-card1>
  </div>
  <div>
    <app-card1><b>Splátka</b> je pravidelná měsíční úhrada dluhu klienta vůči bance. Skládá se z úmoru a úroku.
    </app-card1>
  </div>
  <div>
    <app-card1><b>Fixace</b> hepotéky je úroková sazba sjednána na určitou dobu dopředu. Po tuto dobu se nemění.
    </app-card1>
  </div>
  <div class="flex-start">
    <app-card1><b>RPSN</b> (roční procentuální sazba nákladů) udává procentuální podíl z dlužné částky, který musí
      klient zaplatit za období jednoho roku v souvislosti se splátkami, správou a dalšími výdaji spojenými s čerpáním
      úvěru.
    </app-card1>
  </div>
</div>
