.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container > div {
  margin: 10px;
}

.flex-start {
  justify-self: flex-start;
}
