:host ::ng-deep .ui-inputgroup {
  //margin-left: 300px;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-end;
}

h3 {
  margin-top: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.error-input {
  border: 2px solid red;
}

.input {
  border: 1px solid grey;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.info {
  font-size: 11px;
  width: 200px;
  padding-top: 10px;
}

.icon {
  padding-top: 12px;
  padding-right: 7px;
  color: #ec9600;
}
