<h3>{{valSlider | currency:unit:'symbol':'1.0':"de"}}</h3>
<p-slider [(ngModel)]="valSlider" [style]="{'width':'500px'}" [step]="stepVal" [min]="minVal" [max]="maxVal"
          (onChange)="handleSliderChange($event)"></p-slider>
<div class="input-container" *ngIf="renderInput">
  <div class="icon"><i class="material-icons" style="font-size: 1.5em">report</i></div>
  <div class="info">Při vyplnění pole bude hodnota z posuvníku ignorována!</div>
  <div class="ui-inputgroup inputBox">
    <input [(ngModel)]="valInput" type="text" placeholder="{{textProperty}}" [className]="error ? 'error-input' : 'input'"
           (ngModelChange)="handleInputChange($event)">
    <span class="ui-inputgroup-addon">{{unit}}</span>
  </div>
</div>

