:host ::ng-deep .ui-inputgroup {
  //margin-left: 300px;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-end;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

:host ::ng-deep .input, .span {
  height: 34px;
}

.label {
  margin-right: 10px;
}
