<div class="ui-inputgroup">
  <!--  <button pButton type="button" icon="pi pi-check" class="ui-button-success"></button>-->
  <label class="label" for="inputId">{{label}}:</label>
  <input id="inputId" class='input' type="text" placeholder="{{textInput}}" disabled
         [ngModel]="numberInput | currency:'':'':'1.0-0':'de'">
  <span class="ui-inputgroup-addon span" *ngIf="renderSpan">{{valueInput}}</span>
</div>

