h3 {
  color: #007ad9;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  margin-top: 180px;
}

.flex-container-doughnut-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-right: 20px;
}
.flex-container-price-row > div {
  //margin: 10px;
}
