<p-toast key="toast" position="top-right"></p-toast>
<mat-card class="card">
  <div class="flex-container-price-row">
    <div class="flex-container-price-column">
      <div><h2>Cena nemovitosti</h2></div>
      <div><p>Vyberte cenu nemovitosti pomocí posuvníku nebo zadejte do políčka.</p></div>
    </div>
    <div class="flex-container-price-column">
      <app-property-cost-component [renderInput]='true'></app-property-cost-component>
    </div>
  </div>
</mat-card>
<mat-card class="card">
  <div class="flex-container-price-row">
    <div class="flex-container-amount-column">
      <div><h2>Zamýšlená výše půjčky</h2></div>
      <div><p>Výše zamýšlené půjčky nemůže přesáhnout 90 % ceny nemovitosti. Zadejte ji pomocí posuvníku nebo
        políčka.</p>
      </div>
    </div>
    <div class="flex-container-amount-column">
      <app-loan-component [renderInput]='true'></app-loan-component>
    </div>
  </div>
</mat-card>

<mat-card class="card">
  <div class="flex-container-price-row">
    <div class="flex-container-length-column">
      <div><h2>Zamýšlená délka splácení</h2></div>
      <div><p>Určete dobu splácení hypotéky pomocí posuvníku.</p></div>
    </div>
    <div class="flex-container-length-column">
      <app-length-component [renderInput]='false'></app-length-component>
    </div>
  </div>
</mat-card>

<mat-card class="card">
  <div class="flex-container-length-column">
    <div><h2>Doba fixace ročního úroku:</h2></div>
    <div><p>Určete dobu, během níž zůstane výše úroku stejná.</p></div>
    <div>
      <app-radio-button></app-radio-button>
    </div>
  </div>
</mat-card>

<mat-card class="card">
  <div class="flex-container-price-row">
    <div class="flex-container-length-column">
      <div><h2>Váš čistý měsíční příjem:</h2></div>
      <div><p>Určete výši vašeho měsíčního příjmu pomocí posuvníku nebo políčka. Na jejím základě bude vyhodnocena
        rizikovost hypotéky.</p></div>
    </div>
    <div class="flex-container-length-column">
      <app-salary-component [renderInput]='true'></app-salary-component>
    </div>
  </div>
</mat-card>

<div class="flex-container-calc-row">
  <p-button class="calc" label="Vypočítat" (onClick)="calculate()"></p-button>
</div>

<mat-card class="card">
  <div class="flex-container-price-row">
    <div class="flex-container-length-column">
      <div><h2>Celkem vás hypotéka bude stát:</h2></div>
      <div><p>Výpočet výše hypotéky, úroků, a RPSN 3 % (pouze orientační)</p></div>
    </div>
    <div class="flex-container-length-column">
      <div>
        <app-input-group [textInput]="textMortgage" [valueInput]="currencyUnit" [renderSpan]='true'
                         [numberInput]="mortgageCost" [label]="label1"></app-input-group>
        <app-input-group [textInput]="textMortgage" [valueInput]="currencyUnit" [renderSpan]='true'
                         [numberInput]="installment" [label]="label2"></app-input-group>
        <app-input-group [textInput]="textMortgage" [valueInput]="currencyUnit" [renderSpan]='false'
                         [numberInput]="count" [label]="label3"></app-input-group>
      </div>
    </div>
  </div>
  <div class="flex-container-price-row">
    <div *ngIf="mortgageCost">
      <app-doughnut></app-doughnut>
    </div>
  </div>
</mat-card>
