<app-tab-menu></app-tab-menu>
<div class="root">
  <mat-card class="card">
    <div class="flex-container-second">
      <div><i class="material-icons" style="font-size: 10em">account_balance</i></div>
      <div class="text-box">
        <h1 class="align-center">Hypoteční kalkulačka</h1>
        <h1 class="align-center">HypoCalc</h1>
      </div>
      <div class="flex-container-third">
        <p class="text">
          Hypoteční kalkulačka umožňuje klientům sestavit si <b>osobní hypotéční plán</b> na míru na základě výše
          příjmů, zvolené výše půjčky a délky splácení
        </p>
        <h2>Postavte si svůj sen!</h2>
      </div>
    </div>
  </mat-card>
  <h2 class="without-margin">Naše výhody:</h2>
  <app-accordion></app-accordion>
  <!--<hr>-->
  <router-outlet></router-outlet>
</div>

