p {
  width: 370px;
  margin-top: 30px;
  font-size: 20px;
  color: #007ad9;
  //margin-left: 600px;
  //margin-right: 10%;
}

.with-margin {
  //margin-left: 250px;
  color: #007ad9;
}

.align-center {
  //margin-left: 250px;
  color: #007ad9;
  align-self: center;
}

h2 {
  //margin-top:50px;
  color: #007ad9;
}

.without-margin {
  //margin: none;
  color: #007ad9;
  font-family: Roboto, sans-serif;
}

i {
  color: #007ad9;
}

.flex-container-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //flex-wrap: wrap;
}

.flex-container-second > div {
  margin: 10px;
}

.flex-container-third {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
  flex: 2;
}

.text-box {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.root {
  padding: 10px 6vw;
  height: 100%;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  background-color: #c7ddfb;
  //background-color: #284282;
}

.card {
  //margin-top: 10px;
}

.text {
  text-align: justify;
}
