<!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->
<!--<p-accordion [multiple]="true">-->
<p-accordion (onOpen)="onTabOpen($event)">
  <p-accordionTab header="Kompletní a rychlý výpočet výše splátek hypotéky z pohodlí Vašeho domova!" [selected]="true">
    Aplikace HypoCalc Vám umožňuje jednoduchý a rychlý výpočet výše Vámi požadované hypotéky.
    Stačí k tomu jen zadat validní hodnoty do vstupních polí a hned zjistíte výši vaše měsíční splátky.
    Nemusíte pro to ani chodit na pobočku!
  </p-accordionTab>
  <p-accordionTab header="Výklad všech potřebných pojmů na jedné stránce!">
    Nejste si jistý co přesně konkrétní pojem znamená? Nebo co konkrétního zadat do vstupního pole?
    V záložce "Co je hypotéka?" na stránce aplikaci HypoCalc najdete definice všech potřebných pojmů.
  </p-accordionTab>
  <p-accordionTab header="Zvolte si hypotéku dle Vašich potřeb!">
    Spočítejte si sami, jak dlouho chcete Vaši hypotéku splácet.
  </p-accordionTab>
</p-accordion>
