<p-toast key="fixedPeriod"></p-toast>
<div class="flex-container-length-row">
  <div class="ui-g-12">
    <p-radioButton name="group2" value="{{firstVal}}" label="1 rok" [(ngModel)]="value"
                   inputId="preopt1" (onClick)="handleClick()" [disabled]="disabled1"></p-radioButton>
  </div>
  <div class="ui-g-12">
    <p-radioButton name="group2" value="{{secondVal}}" label="3 roky" [(ngModel)]="value"
                   inputId="preopt2" (onClick)="handleClick()" [disabled]="disabled2"></p-radioButton>
  </div>
  <div class="ui-g-12">
    <p-radioButton name="group2" value="{{thirdVal}}" label="5 let" [(ngModel)]="value"
                   inputId="preopt3" (onClick)="handleClick()" [disabled]="disabled3"></p-radioButton>
  </div>
  <div class="ui-g-12">
    <p-radioButton name="group2" value="{{forthVal}}" label="7 let" [(ngModel)]="value"
                   inputId="preopt4" (onClick)="handleClick()" [disabled]="disabled4"></p-radioButton>
  </div>
  <p>Sazba = {{sazba * 100 | currency:'%':'symbol':'1.2-2':"de"}}</p>
</div>

