:host ::ng-deep .ui-tabmenu {
  margin-top: 25px;
}
.flex-container-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //flex-wrap: wrap;
}

.flex-container-second > div {
  //margin: 10px;
}
h2 {
  color: #007ad9;
  font-family: Roboto, sans-serif
}
