<!--<h3 class="first">Default</h3>-->
<!--<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>-->
<div class="flex-container-second">
<p-tabMenu [model]="items"></p-tabMenu>
<!--<h2>Modrý tým</h2>-->
</div>
